$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: 'SF Pro Display', sans-serif;
$color-white: #FFFFFF;
$background-color: #F1F2F6;
$gray-color: #F1F2F6;
$neutral-color-2: #CFCECE;
$base-black: #0B0A0A;
$footer-icon-color: #097FFF;
$btn-main-color: #120B59;
$text-gray: #767171;
